/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Far.pinterest.com%2Fpin%2F972777588251664608%2F&psig=AOvVaw0qoby-1qv9Lrs33udRo3Nn&ust=1729435925498000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPixsIHZmokDFQAAAAAdAAAAABAE");
   

}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 193px;
    width: 300px;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Far.pinterest.com%2Fpin%2F972777588251664608%2F&psig=AOvVaw0qoby-1qv9Lrs33udRo3Nn&ust=1729435925498000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPixsIHZmokDFQAAAAAdAAAAABAE");
    background-repeat: no-repeat;
    float: right;
}
.img2{
    height: 500px;
    width: 500px;
    background-image: url("");
    background-repeat: no-repeat;
    float: left;
}