/* Temas del segundo período*/

.texto {

    font-size: 40px;
    padding-top: 100px;
    text-align: justify;
    color: rgb(10, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.principal {
    display: flex;

}

body {
    background-image: url("https://i.pinimg.com/originals/ea/62/aa/ea62aaf0b659e6715937294125fc63fc.png");


}

.titulo {
    font-size: 60px;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1 {
    height: 193px;
    width: 300px;
    background-image: url("piedra.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img2 {
    height: 500px;
    width: 500px;
    background-image: url("medellin.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img2 {
    height: 700px;
    width: 300px;
    background-image: url("ovario");
    background-repeat: no-repeat;
    float: left;
}.img2 {
    height: 400px;
    width: 500px;
    background-image: url("mariana.jpg.pngccx");
    background-repeat: no-repeat;
    float: left;
}
.imgmate1 {
    height: 400px;
    width: 500px;
    background-image: url("mate 1.png");
    background-repeat: no-repeat;
    float: left;
}
.imgmate2 {
    height: 400px;
    width: 500px;
    background-image: url("mate2.png");
    background-repeat: no-repeat;
    float: left;
}

.imgmate3 {
    height: 400px;
    width: 500px;
    background-image: url("mate3.png");
    background-repeat: no-repeat;
    float: left;
}

.imgmate4 {
    height: 400px;
    width: 500px;
    background-image: url("mate4.png");
    background-repeat: no-repeat;
    float: left;
}

.imgmate5 {
    height: 400px;
    width: 700px;
    background-image: url("mate5.png");
    background-repeat: no-repeat;
    float: left;
}

.imgmate6 {
    height: 400px;
    width: 700px;
    background-image: url("mate6.png");
    background-repeat: no-repeat;
    float: left;
}

.imgmate7 {
    height: 400px;
    width: 700px;
    background-image: url("mate7.png");
    background-repeat: no-repeat;
    float: left;
}